#jumbo {
    font-family: 'Luckiest Guy', cursive;
}

.jumbotron {
    background-image: url('bomb.jpg');
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black !important;
}

.btn-danger {
    padding: 30px;
}
body {
    background-image: url('./backgroundbackground.jpg');
  background-size: cover;
    background-repeat: no-repeat;

}
canvas {
display: block;
margin: auto;
}